<div class="container">
  <div class = "search_block">
    <h2 class="search_block_page_name">Доска объявлений</h2>
    <button class="search_block_categories_list">
      <img class="search_block_categories_list_img" src="assets/img/categories_list.svg">
      <p class="search_block_categories_list_name">Все категории</p>
    </button>
    <ng-form class="search_block_form">
      <input class="search_block_form_input" placeholder="Поиск по объявлениям">
      <button class ="search_block_form_button">
        <p class="search_block_form_button_name">Найти</p>
        <img class="search_block_form_button_img" src="assets/img/search_button.svg">
      </button>
    </ng-form>
  </div>
</div>
