@font-face {
  src: url("/src/assets/fonts/Inter-Regular.ttf");
  font-family: InterRegular;
  font-weight: 400;
}
@font-face {
  src: url("/src/assets/fonts/Inter-Bold.ttf");
  font-family: InterBold;
  font-weight: 700;
}
$inter_regular:InterRegular,sans-serif;
$inter_bold:InterBold,sans-serif;


